
        <div class="sidebar" data-image="/static/assets/img/sidebar-5.jpg" data-color="blue">
        
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
                Tip 2: you can also add an image using data-image tag
            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.appseed.us" class="simple-text">
                        Player Performance Dashboard
                    </a>
                </div>
                <ul class="nav">
                    <li class="{% if path == 'dashboard' %} active {% endif %}">
                        <a class="nav-link" href="/dashboard">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="{% if path == 'user' %} active {% endif %}">
                        <a class="nav-link" href="#">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li class="{% if path == 'table' %} active {% endif %}">
                        <a class="nav-link" href="/table">
                            <i class="nc-icon nc-notes"></i>
                            <p>Player List</p>
                        </a>
                    </li>
                   
                  
                   
                </ul>
            </div>
        </div>


