<!DOCTYPE html>
<html lang="en">

<head>

    <title>Test</title>

    {% include 'common/header.html' %}

</head>

<body class="">

    <div class="wrapper">

        {% include 'common/sidebar.html' %}
        
        <div class="main-panel">

            {{ content | safe }}

            {% include 'common/footer.html' %}

        </div>

    </div>
</body>

    {% include 'common/footer_res.html' %}

    {% if path == 'dashboard' %}
    <script>
        $(document).ready(function() {

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();
            demo.showNotification();

        });
    </script>
    {% endif %}
    {% if path == 'table' %}
    <script>
        $(document).ready(function() {

            // Javascript method's body can be found in assets/js/demos.js
            demo.buildtable()

        });
    </script>
    {% endif %}

</html>
